<div class="querymine_image"></div>

<div class="row">
  <div class="col l3 m2 s12"></div>
  <div class="col l6 m8 s12" style="opacity:0.8;padding-top:2%;">
    <!-- #region form -->
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="card-panel z-depth-4  border-radius-6 "
      style="border-radius: 8px; ">
      <h5 class>Regístrate</h5>

      <p>¡Únete a nosotros ya!</p>

      <div class="input-field">
        <i class="material-icons prefix">person</i>

        <input type="text" formControlName="firstName" name="firstName" id="firstName" />
        <div *ngIf="f.firstName.invalid && f.firstName.touched" style="font-size:12px;">Este campo es obligatorio.</div>
        <label for="username">Ingrese su nombre</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" formControlName="lastName" name="lastName" id="lastName" />
        <div *ngIf="f.lastName.invalid && f.lastName.touched" style="font-size:12px;">Este campo es obligatorio.</div>
        <label for="username">Ingrese su apellido</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">email</i>

        <input type="text" formControlName="email" name="email" id="email"  />
        <div *ngIf="f.email.invalid && f.email.touched" style="font-size:12px;">Ingrese una dirección de correo valida.</div>
        <label for="email">Correo electrónico</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>

        <input type="password" formControlName="password" name="password" id="password" />
        <div *ngIf="f.password.invalid && f.password.touched" style="font-size:12px;">La contraseña debe contener minimo 8 caracteres incluyendo numeros,
          mayusculas, minusculas y caracteres especiales</div>
        <label for="password">Contraseña</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" formControlName="confirmPassword" name="password2" id="password2" />
        <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched" style="font-size:12px;">Las contraseñas deben coincidir</div>
        <label for="password2">Confirma tu contraseña</label>
      </div>

      <br />
      <div class="center">
        <input type="submit" name="registerbtn" id="registerbtn" value="¡Regístrate ya!" class="btn waves-effect waves-light"
          style="width:100%; border-radius: 25px;" [disabled]="!registerForm.valid" />
      </div>

      <br />

      <!-- Aqui deberia ir un droptown con los tipos de usuarios -->

      <div class="">
        <a [routerLink]="['/feed/login']" class="left" style="font-size:12px;">¿Ya eres parte de nosotros? ¡Entra!</a>
      </div>

      <br />
    </form>
    <!-- #endregion form -->
  </div>
  <div class="col l3 m2 s12"></div>
</div>
