<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="/assets/images/van.jpg" />
      <div class="caption center-align">
        <h3>Manage My Bus</h3>
      </div>
    </li>
    <li>
      <img src="/assets/images/women.jpg" />
      <div class="caption left-align">
        <h3>Manage My Bus</h3>
      </div>
    </li>
    <li>
      <img src="/assets/images/smart.jpg" />
      <div class="caption right-align">
        <h3>Manage My Bus</h3>
      </div>
    </li>
    <li>
      <img src="/assets/images/low.jpg" />
      <div class="caption center-align">
        <h3>Manage My Bus</h3>
      </div>
    </li>
  </ul>
</div>
<div class="group-inputs">
  <div class="row trip-searcher">
    <div class="input-field col s12 m6 l3">
      <select>
        <option value="" disabled selected>Manizales (MNZ)</option>
      </select>
      <label>Origen</label>
    </div>
    <div class="input-field col s12 m6 l3">
      <select>
        <option value="" disabled selected>Destino</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Destino</label>
    </div>
    <div class="input-field col s12 m6 l3">
      <input type="text" class="datepicker" />
      <label>Fecha de salida</label>
    </div>
    <div class="input-field col s12 m6 l3">
      <input id="number_of_seats" type="text" class="validate" />
      <label for="number_of_seats">Número de asientos</label>
    </div>
  </div>
  <div class="row">
    <div class="col s10 center-align">
      <button
        class="btn-large waves-effect waves-light"
        type="submit"
        name="action"
      >
        Buscar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>
