<div class="querymine_image"></div>
<div class="row">
  <div class="col l4 m2 s12"></div>
  <div class="col l4 m8 s12" style="opacity:0.8;padding-top:4.75%;">
    <div
      class="card-panel z-depth-4  border-radius-6 "
      style="border-radius: 8px; "
    >
      <div>
        <img
          class="responsive-img"
          data-caption="Manage My Bus"
          src="/assets/images/logo_unasolalinea_transparente.png"
        />
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="tryLogin()">
        <h5 class>¡Ingresa!</h5>
        <br />
        <div class="input-field">
          <i class="material-icons prefix">person</i>
          <input
            type="email"
            name="username"
            id="username"
            formControlName="email"
          />
          <div
            *ngIf="f.email.invalid && f.email.touched"
            style="font-size:12px;"
          >
            Ingrese una dirección de correo valida.
          </div>
          <label for="username">Correo electrónico</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input
            type="password"
            name="password"
            id="password"
            formControlName="password"
          />
          <div
            *ngIf="f.password.invalid && f.password.touched"
            style="font-size:12px;"
          >
            Ingrese una contraseña valida.
          </div>
          <label for="password">Contraseña</label>
        </div>
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox"
          formControlName="remember"
        />
        <label for="checkbox">¡Recúerdame!</label><br />
        <br />
        <div class="center">
          <button
            type="submit"
            name="login"
            id=""
            value="Login"
            class="btn waves-effect waves-light "
            style="width:100%; border-radius: 25px;"
            [disabled]="!loginForm.valid"
          >
            Entra
          </button>
        </div>
        <br />
        <div class="">
          <a
            [routerLink]="['/feed/register']"
            class="left"
            style="font-size:12px;"
            >!Únete ya!</a
          >
        </div>
        <div class="margin medium-small" style="font-size:12px;">
          <a href="" class="right">¿La olvidaste?</a>
        </div>
        <br />
      </form>
    </div>
  </div>
  <div class="col l4 m2 s12"></div>
</div>
